{% extends "app/base.html" %}
{% block conteudo %}
    <form method="post" enctype="multipart/form-data" class="btn-group bg-dark p-2 text-info">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Salvar" class=" btn btn-primary">
    </form>

    <h1>Aqui estão os Perfis</h1>
    <table class="table">
        <th>
            <tr>
                <td>Foto</td>
                <td>Nome</td>
                <td>Data Nascimento</td>
                <td>RG</td>
                <td>Editar</td>
                <td>Excluir</td>
            </tr>
        </th>
        {% for perfil in perfis %}
            <tr>
                <td><img src="{{ perfil.foto_url }}" alt="S/I"></td>
                <td>{{ perfil.nome_perfil }}</td>
                <td>{{ perfil.nascimento_perfil }}</td>
                <td>{{ perfil.rg_perfil }}</td>
                <td>
                    <a href="#" class="btn btn-warning">Editar</a>
                </td>
                <td>
                    <a href="#" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock conteudo %}